<a href="https://colab.research.google.com/github/Katakamsaipraneeth/HYD05_TNS_SVIT/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Patterns
1.Symbolic patterns
2.Numeric patterns
3.Combination of symbolic patterns

In [3]:
#Symbolic patterns

n=3
for i in range(n):
  for k in range(n):
    print("*",end=" ")
  print()

* * *
* * *
* * *

In [10]:
'''
*
* *
* * *
'''
n=3
for i in range(n):
  for j in range(n):
    if j<=i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
* * *

In [27]:
'''
* * *
* *
*
'''
rows = int(input("Enter the number of rows:"))

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

Enter the number of rows:4
* * * *
* * *
* *
*

In [32]:
n=5
for i in range(n):
  if i%2==0:
    for j in range(n):
      if j<=i:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
  else:
    for j in range(n):
      if j<=i:
        print(i+1,end=" ")
      else:
        print(" ",end=" ")
    print()

*
2 2
* * *
4 4 4 4
* * * * *